<%= render "shared/navbar" %>
<% @all_games.in_groups_of(4) do |games| %>
    <span>
        <% for game in games do %>
            <% unless game.nil? %>
                <figure Style = "width:25%; float:left; margin:0px; text-align:center; padding:0px;">
                    <%= image_tag(game.thumbnail) %>
                    <figcaption><%= game.bgname %></figcaption>
                </figure>
            <% end %>
        <% end %>
    </span>
<% end %>