<%= render "shared/navbar" %>

<% @all_games.in_groups_of(4) do |games| %>
        <% for game in games do %>
            <% unless game.nil? %>
                <div Style = "width:25%; float: left; clear: right; margin:0px; text-align:center; padding:0px;">
                    <%= image_tag(game.thumbnail) %>
                    <div class = "game_name"><%= game.bgname %></div>
                </div>
            <% end %>
        <% end %>
<% end %>