<p><%= image_tag("bored game.jpg", alt: "The Bestest Board Game Tool ever!", align: "center", position: "relative") %></p>

Existing User? 
<%= button_to "Log in", login_path, method: :get %>
New User?
<%= button_to "Sign up now!", signup_path, method: :get %>