/*@import "bootstrap-sprockets";
@import "bootstrap";*/

body {
  background: url("background 3.jpg") no-repeat center center fixed; 
  background-size: 100%;
}

.row {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #3D9BE9;
  margin: auto;
  width: 350px;
}

#logo {
  display: block; 
  text-align: center;
}

#navbar-options {
    list-style-type: none;
}


#nav-user {
  display: inline;
	font-family: Futura, Tahoma, sans-serif;
	color: white;
	padding: 5px;
}

#activity_box {
  background-color: black;
  width: 500px;
  padding: 10px;
  margin: 100px 0px 0px 100px;
  float: left;
}

#collection_box {
  background-color: green;
  border-radius: 5px;
  text-align: center;
  margin: 10px 10px 0px 10px;
}

#status_box {
  background-color: #3D9BE9;
  width: 200px;
	border-radius: 25px;  
  padding: 5px 20px;
  float: left;
  margin: 20px 0px 0px 200px;
}

.opts {
  display: inline;
	/* border: 2px solid #000000; */
	font-family: sans-serif;
	color: white;
	padding: 5px 20px;
	border-radius: 25px;
	background-color: #3D9BE9;
	transition: all 0.5s;
	cursor: pointer;
	margin-left: 70px;
	margin-right: 70px;
}

.opts a:link {
  color: white;
}

.opts a:visited {
  color: white;
}

.opts span {
  cursor: pointer;
  display: inline;
  position: relative;
  transition: 0.5s;
}

.opts span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.opts:hover span {
  padding-right: 15px;
}

.opts:hover span:after {
  opacity: 1;
  right: 0;
}

.opts a:active {
  color: white;
}


.btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #66CCFF;
  font-size: 20px;
  font-family: Futury;
  color: white;
}

.btn:hover {
  background-color: #3399FF;
}

.btn:active {
  background-color: #0066FF;
}

.btn-primary {
  font-family: sans-serif;
}

.form-control {
  border-radius: 5px;
}

.form-field {
  color: white;
  font-family: sans-serif;
}

.alert-danger {
  background-color: #FFCCCC;
  color: #FF3300;
}

.alert-success {
  background-color: #99FFCC;
  color: #00CC00;
}

#acc-process {
  color: white;
}

.checkbox-inline {
  font-family: sans-serif;
}

.filter {
  border: 1px solid purple;
  border-radius: 15px;
  padding: 5px;
}

.game-list {
  border-collapse:collapse; 
  border: 5px solid purple;
  border-radius: 25px;
  background-color: white;
  float: left; 
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: cursive;
}

.game_name {
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 5px;
  background-color: red;
  text-align: center;
  border-style:  none solid solid none;
  border-color: darkred;
}

.game_event {
  color: white;
  font-family: cursive;
}

.profile_pic {
  max-width: 200px;
  margin: 100px 0px 20px 200px;
  float: left;
}

.status_box_text {
  color: white;
  font-family: sans-serif;  
}

.status_box_text2 {
  font-family: sans-serif;    
}

ul.information span{
  position:absolute; /*see support section for more info on positioning*/
  visibility: hidden;
}

ul.information li{
  position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
  z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/  
  text-align: left;
}

ul.information li:hover{
  z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/
}

ul.information li:hover span{
  visibility: visible;
  top: 0px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  border-collapse:collapse; 
  border: 5px solid black;
  border-radius: 5px;
  background-color: lightyellow;
}