/*@import "bootstrap-sprockets";
@import "bootstrap";*/

body {
  background: url("background 3.jpg") no-repeat center center fixed; 
  background-size: 100%;
}

.row {
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: gray;
  margin: auto;
  width: 350px;
}

#logo {
  display: block; 
  text-align: center;
}

#navbar-options {
    list-style-type: none;
}

#nav-options li {
  margin: 0px 50px 0px 50px;
}

#nav-user {
  display: inline;
	font-family: Futura, Tahoma, sans-serif;
	color: white;
	padding: 5px;
}

.opts {
  display: inline;
	/* border: 2px solid #000000; */
	font-family: Futura, Tahoma, sans-serif;
	color: white;
	padding: 5px 20px;
	border-radius: 25px 25px;
	background-color: cornflowerblue;
}

.opts a:link {
  color: white;
}

.opts a:visited {
  color: white;
}

.opts a:hover {
    background-color: #a4c1f4;
    /*font-size: 21px;*/
    color: white;
}

.opts a:active {
  color: white;
}


.btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #66CCFF;
  font-size: 20px;
  font-family: Futury;
  color: white;
}

.btn:hover {
  background-color: #3399FF;
}

.btn:active {
  background-color: #0066FF;
}

.form-control {
  border-radius: 5px;
}

.alert-danger {
  background-color: #FFCCCC;
  color: #FF3300;
}

.alert-success {
  background-color: #99FFCC;
  color: #00CC00;
}

#acc-process {
  color: white;
}

.filter {
  border: 1px solid purple;
  border-radius: 15px;
  padding: 5px;
}

.game-list {
  border-collapse:collapse; 
  border: 5px solid purple;
  border-radius: 25px;
  background-color: white;
  float: left; 
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: cursive;
}

.game_name {
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 5px;
  background-color: red;
  text-align: center;
  border-style:  none solid solid none;
  border-color: darkred;
}

.game_event {
  color: white;
  font-family: cursive;
}

.profile_pic {
  max-width: 200px;
}

ul.information span{
  position:absolute; /*see support section for more info on positioning*/
  visibility: hidden;
}

ul.information li{
  position: relative; /*allows precise positioning of the popup image when used with position:absolute - see support section */
  z-index: 0; /*resets the stack order of the list items - we'll increase in step 4. See support section for more info*/  
  text-align: left;
}

ul.information li:hover{
  z-index: 50; /*places the popups infront of the thumbnails, which we gave a z-index of 0 in step 1*/
}

ul.information li:hover span{
  visibility: visible;
  top: 0px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
  border-collapse:collapse; 
  border: 5px solid black;
  border-radius: 5px;
  background-color: lightyellow;
}